
@media (min-width: 768px) {
    .hero-element h1{
        font-size: 35px;
    }

    .hero-element h3{
        font-size: 15px;
        padding: 20px;
    }

    .hero-element a{
        font-size: 15px;
    }

    .container-service{
        flex-direction: row;
    }
    .descripsi h2{
        font-size: 25px;
    }
    
    .descripsi p{
        font-size: 16px;
        line-height: 24px;
    }

    .descripsi li{
    font-size: 16px;
    
    }
    .rectangle-img img{
        height: 8rem;
    }

    .box-img{
        height: 20rem;
    }
    
    .box-top {
        width: 60px;
        height: 60px;
    }

    .box-bottom {
        width: 60px;
        height: 60px;
    }

    .service{
        height: 230px;
        width: 200px;
    }

    .trapesium p{
        font-size: medium;
    }

    .product{
        height: 8rem;
    }

    .trapesium{
        border-bottom: 8rem solid var(--primary);
    }

    .btn-link{
        width: 7rem;
    }

    .btn-link a{
        font-size: small;
    }
}
@media (max-width: 767px) {
    .card .img-wrapper {
        height: 17em;
    }
}

@media (min-width: 1000px) {
    .hero-element h1{
        font-size: 70px;
    }

    .hero-element h3{
        font-size: 25px;
        padding: 20px;
    }

    .hero-element a{
        font-size: 25px;
    }
    .service{
        width: 300px;
        padding: 10px;
        align-items: center;
        height: 220px;
    }
    .rectangle-img img{
        height: 10rem;
    }

    .img-profile img{
        width: 12rem;
        height: 12rem;
    }
    
    .img-profile label{
        width: 12rem;
    }

    
    .box-top {
        width: 80px;
        height: 80px;
    }

    .box-bottom {
        width: 80px;
        height: 80px;
    }
    
}

@media (min-width: 1200px) {
    .descripsi h2{
        font-size: 35px;
    }
    
    .descripsi p{
        font-size: 16px;
        
    }
    .descripsi li{
        font-size: 16px;
    }

    .service{
        width: 300px;
        
        padding: 10px;
        align-items: center;
    }
    .card-img-team{
        height: 20rem;
    }

    .img-profile img{
        width: 15rem;
        height: 15rem;
    }
    
    .img-profile label{
        width: 15rem;
    }
}